.env
output.txt
ir_embeddings.jsonl
test.py
get_guids.py
SKILL.md

/misc
/tests
/documents
/__pycache__
/services/__pycache__
app/__pycache__
app/state/__pycache__
app/routes/__pycache__
app/logic/__pycache__